# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore env files
.env
*.env

# Ignore virtual environments
.venv/
env/
venv/

# Ignore VCS and editor stuff
.git/
.gitignore
.vscode/
.idea/

# Ignore frontend (not needed in backend image)
frontend/

# Ignore test output or coverage
*.log
*.sqlite3
.coverage
htmlcov/
